*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: eggshell;
}

main{
    margin-bottom: 60px;
}

a{
    text-decoration: none;
}

footer a{
    color: white;
}
